#line-insert {
  display: inline-block;
}

#sparkline .line-legend,
#sparkline h2,
#sparkline p {
  display: none !important;
}

#sparkline .vcl-access-structure-heading,
#sparkline .vcl-access-title,
#sparkline .vcl-access-chart-layout-heading,
#sparkline .vcl-access-chart-layout-heading,
#sparkline .vcl-access-layout {
  display: none !important;
}

/* #sparkline .vcl-access-subtitle:after {
    content: 'line chart trending up';
} */

#sparkline data-table {
  display: none;
}

.heat-map-dataLabel {
  pointer-events: none;
}

.hidden {
  display: none;
}

body {
  margin: 0 auto;
  max-width: 60em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  float: left;
  max-width: 75%;
  padding-left: 25px;
}

header {
  top: 1.4em;
  float: left;
  max-width: 25%;
  border-right: 1px solid #949494;
  position: sticky;
  align-self: start;
  max-height: 85vh;
  overflow-y: auto;
  padding-right: 25px;
}

body:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
